<div class="cp_modal">
  
  <!-- モーダルウィンドウ -->
  <div id="modal-content">
	  <!-- モーダルウィンドウのコンテンツ開始 -->
    <div class="modal_header">
      <h2>カレンダーに登録する</h2>
      <button id = "modal-close" class="close_btn">&times;</button>
    </div>

    <article class="cp_content">
    
      <%#= form_with url: calendars_path, model: bookmark_calendar, method: :post, class: 'calendar_form', local: true do |f| %>
      <%= form_with url: calendars_path(id), method: :post, class: 'calendar_form', local: true do |f| %>
        <%= f.label :date, "登録する日付を選択する" %>
        <%= f.date_field :date %>
        <%= f.submit '保存する', class: 'form_btn' %>
        <%#= f.hidden_field :bookmark_id, value: @bookmark_calendar[:bookmark_id]  %>
        <%= f.hidden_field :bookmark_id, value: id  %>
      <% end %>
    </article>
	<!-- モーダルウィンドウのコンテンツ終了 -->
  </div>

    <button id = "modal-open" class="modal_btn">カレンダーに登録する</button>

</div>