

<div class="bookmarks">
  
  <div class="bookmark_headertitle">

    <div class="all_title">
      <div><%= @nickname %>さんの</div>
      <div>ブックマーク</div>
    </div>
  </div>

  <div class="bookmark">

    <% @bookmarks.each do |bookmark| %>
      <div class="user_bookmark">
        <div class="bookmark_title">
          <%= bookmark.name %>
        </div>

        <div class="bookmark_route">
          <div class="departure_index">
            出発地
          </div>
          <div class="departure_index departure_name">
            <%= bookmark.departure %>
          </div>
        </div>

        <div class="bookmark_route">
          <div class="destination_index">
            到着地
          </div>
          <div class="destination_index destination_name">
            <%= bookmark.destination %>
          </div>
        </div>

        <div class="bookmark_departure_flag">
          <% departure_flag_str = (bookmark.departure_flag ? "到着" : "出発" ) %>

          <div class="bookmark_departure_str">
            <div>
              <%= bookmark.time %>に
            </div>
            <div class="bookmark_departure_marker">
              <%= "#{departure_flag_str}" %>
            </div>
          </div>
        </div>

        <div class= "bookmark_btn">
          <div class="bookmark_edit">
            <%= link_to "編集する", edit_bookmark_path(bookmark.id), method: :get, class: 'btn' %>
            <%= link_to "削除する", bookmark_path(bookmark.id), method: :delete, class: 'btn' %>
          </div>
          <%# <div class="bookmark_register">
            <%= link_to "カレンダーに登録する", register_bookmark_path(bookmark.id), method: :get, class: 'btn' %>
          <%# </div> %>
        </div>

        <!-- <div class="cp_modal">-->
  
          <!-- モーダルウィンドウ -->
          <div id="modal-content" class="modal">
            <!-- モーダルウィンドウのコンテンツ開始 -->
            <div class="modal_header">
              <h2>カレンダーに登録する</h2>
              <button id = "modal-close" class="close_btn">&times;</button>
            </div>

            <article class="cp_content">
            
              <%#= form_with url: calendars_path, model: bookmark_calendar, method: :post, class: 'calendar_form', local: true do |f| %>
              <%= form_with url: calendars_path(bookmark_id: bookmark.id), method: :post, class: 'calendar_form', local: true do |f| %>
                <%= f.label :date, "登録する日付を選択する" %>
                <%= f.date_field :date %>
                <%= f.submit '保存する', class: 'form_btn' %>
                <%#= f.hidden_field :bookmark_id, value: @bookmark_calendar[:bookmark_id]  %>
                <%# <%= f.hidden_field :bookmark_id, value: bookmark.id %>
              <% end %>
            </article>
          <!-- モーダルウィンドウのコンテンツ終了 -->
          </div>

            

       <!-- </div> -->

        <button id="modal-open" class="modal_btn">カレンダーに登録する</button>
        
        <%# 旧モーダルウィンドゥ用の記述 %>
        <%# <div id="modal-content"> %>
          <!-- モーダルウィンドウのコンテンツ開始 -->
          <%# <div class="modal_header"> %>
            <%# <h2>カレンダーに登録する</h2> %>
            <%# <button id = "modal-close" class="close_btn">&times;</button> %>
          <%# </div> %>

          <%# <article class="cp_content"> %>
            <%#= form_with url: calendars_path(bookmark.id), method: :post, class: 'calendar_form', local: true do |f| %>
              <%#= f.label :date, "登録する日付を選択する" %>
              <%#= f.date_field :date %>
              <%#= f.submit '保存する', class: 'form_btn' %>
              <%#= f.hidden_field :bookmark_id, value: @bookmark_calendar[:bookmark_id] %>  <!-- bookmark_id == 1 -->
            <%# end %>
          <%# </article> %>
        <!-- モーダルウィンドウのコンテンツ終了 -->
        <%# </div> %>

          <%# <button id = "modal-open" class="modal_btn">カレンダーに登録する</button> %>
          <%# <%= render partial: 'calendar_modal', locals: { id: bookmark.id, bookmark_calendar: @bookmark_calendar } %>
        <%# </div> %>

      </div>

    <% end %>

  </div>

</div>