<div class="cp_modal">
  
  <!-- モーダルウィンドウ -->
  <div id="modal-content">
	  <!-- モーダルウィンドウのコンテンツ開始 -->
    <div class="modal_header">
      <h2>ブックマークに登録する</h2>
      <a id="modal-close" class="close_btn">×</a>
    </div>

    <article class="cp_content">
      <%= form_with model: @bookmark, method: :post, class: 'form', local: true do |f| %>
        <div class="form-input">
          <%= f.text_field :name, placeholder: "ブックマーク名", class: 'form-message' %>
          <%# ↓----trains/searchメソッドで定義した@bookmark変数をhidden状態でform_with内に設定 %>
          <%= f.hidden_field :departure, value: @bookmark.departure, class: 'form-message' %>
          <%= f.hidden_field :destination, value: @bookmark.destination, class: 'form-message' %>
          <%= f.hidden_field :time, value: @bookmark.time, class: 'form-message' %>
          <%= f.hidden_field :departure_flag, value: @bookmark.departure_flag, class: 'form-message' %>
          <%= f.hidden_field :status_check, value: @bookmark.status_check, class: 'form-message' %>
          <%# ↑----ここまで %>
          <%= f.submit '保存する', class: 'form_btn' %>
        </div>
      <% end %>
    </article>
	<!-- モーダルウィンドウのコンテンツ終了 -->
  </div>

    <div id="modal-open" class="btn">ブックマークに登録する</div>

</div>