<div class="train_index">
  <div class="departure_index">出発地</div>
    <%= "#{@route_result[:departure]}\n" %>
  
  <div class="arrow">→</div>

  <div class="destination_index">目的地</div>
    <%= "#{@route_result[:destination]}\n" %>

  <div class="transits">
    <div class="transit_index">乗り換え回数</div>
      <%= "#{@route_result[:transit_count]}回\n" %>
  </div>
</div>

<div class="train_date">

  <div class="train_datetime">日付</div>
  <div class="train_date_time"> 
    <%= "#{@datetime.to_datetime.strftime("%Y年%m月%d日  %H:%M")}"%>
    <%= @parameters[:bookmark][:departure_flag] ? "到着" : "出発" %>
  </div>
</div>

<div class="register_btn">

  <% if user_signed_in? %>

    <%= render partial: "trains/bookmark_form" %>
    <div class="calendar_btn">
      <%= link_to "カレンダーに登録する", register_without_bookmarks_path(params: @parameters), method: :post, class: "btn" %>
    </div>

  <% end %>

  <div class="train_alarm">
    <button onclick="loop()" class="alarm_btn">ブラウザ上でアラーム設定</button>
    <div id="timer" style="display:none" class="timer">
      <span id="_d">00</span>
      <span id="_h">00</span>
      <span id="_m">00</span>
      <span id="_s">00</span>
    </div>
  </div>

</div>

<div class="register_btn">

  <%# Slackにリマインドを送信/削除するパラメータを定義 %>
  <% times_list = [] %>
  <% @route_result[:sections].each do |route| %>
    <% times_list << Time.parse(route[:dt_destination_time]).to_i %>
  <% end %>
  <% slack_params = {
    user: current_user,
    times: times_list
  } %>

  <%# Slackにリマインドを送信/削除するリンクを定義 %>
  <div class="calendar_btn">
    <%= link_to "Slackにリマインドする", post_slack_trains_path(params: slack_params), method: :post, remote: true, class: "btn" %>
  </div>
  <div class="calendar_btn">
    <%= link_to "リマインドを削除する", delete_slack_trains_path(params: slack_params), method: :post, remote: true, class: "btn" %>
  </div>

</div>

<div class="train_route">
  <% @route_result[:sections].each_with_index do |route, idx| %>
    <%if "#{route[:transit_status]}"=="true"%>
      <div class="route_departure">
        <div class="train_departuretime">
          <%= "#{route[:departure_time]} 出発" %>
        </div>

        <div class="train_departure">
          <%= "#{route[:departure]}" %>
        </div>
      </div>

      <div class="train_line">
        <%= "\t\t#{route[:line_name]}" %><br>
      </div>
  
      <div class="route_destination">
        <div class="train_destinationtime">
          <%= "#{route[:destination_time]} 到着" %>
        </div>

        <div class="destination">
          <%= "#{route[:destination]}" %>
        </div>
      </div>

    <%else%>

      <div class="route_departure">
        <div class="train_departuretime">
          <%= "#{route[:departure_time]} 出発" %>
        </div>

        <div class="train_departure">
          <%= "#{route[:departure]}" %>
        </div>
      </div>

      <%if idx==@route_result[:sections].length-1%>
        <div class="train_line">
          <%= "\t\t#{route[:line_name]}" %><br>
        </div>
        <div class="route_destination">
          <div class="train_destinationtime">
            <%= "#{route[:destination_time]} 到着" %>
          </div>

          <div class="destination">
            <%= "#{route[:destination]}" %>
          </div>
        </div>
      <%else%>       
        <div class="train_line">
          <%= "\t\t#{route[:line_name]} 乗換不要" %><br>
        </div>
      <%end%>
   <%end%>

  <% end %>
</div>