<div class="train_index">
  <div class="departure_index">出発地</div>
    <%= "#{@route_result[:departure]}\n" %>
  
  <div class="arrow">→</div>

  <div class="destination_index">目的地</div>
    <%= "#{@route_result[:destination]}\n" %>

  <div class="transits">
    <div class="transit_index">乗り換え回数</div>
      <%= "#{@route_result[:transit_count]}回\n" %>
  </div>
</div>

<div class="train_date">

  <div class="train_datetime">日付</div>
  <div class="train_date_time"> 
    <%= "#{@datetime.to_datetime.strftime("%Y年%m月%d日  %H:%M")}"%>
    <%= @parameters[:bookmark][:departure_flag] ? "到着" : "出発" %>
  </div>
</div>

<%# アイコンヘルプの表示 %>
<div>
  <%= render partial: "trains/icon_help" %>
</div>

<div class="register_btn">

  <% if user_signed_in? %>

    <%# ブックマーク登録用のrender %>
    <%= render partial: "trains/bookmark_form" %>
    <div class="icon_btn">
      <%= link_to image_tag("/assets/calendar_icon.png", width: "60", alt: "カレンダー登録"), register_without_bookmarks_path(params: @parameters), method: :post, class: "btn" %>
    </div>

  <% end %>

  <div class="icon_btn">
    <button onclick="loop()" class="btn"><%= image_tag("/assets/alarm_icon.png", width: "60", alt: "アラーム設定") %></button>
    <button class="btn" onclick="closePlay()" id="music_btn" style="display:none"><%= image_tag("/assets/alarm_stop.png", width: "60", alt: "アラーム停止") %></button>
  </div>

  <% if user_signed_in? %>

    <%# Slackにリマインドを送信/削除するリンクを定義 %>
    <div class="icon_btn" id="slack_click">
      <%= render partial: "trains/slack_partial" %>
    </div>

  <% end %>

</div>
   
    <%# カウントダウンの表示 %>
<div id="timer" style="display:none" class="timer">
      <span id="_d">00</span>
      <span id="_h">00</span>
      <span id="_m">00</span>
      <span id="_s">00</span>
</div>

<div class="train_route">
  <% @route_result[:sections].each_with_index do |route, idx| %>
    <%if route[:transit_status] %>
      <div class="route_departure">
        <div class="train_departuretime">
          <%= "#{route[:departure_time]} 出発" %>
        </div>

        <div class="train_departure">
          <%= "#{route[:departure]}" %>
        </div>
      </div>

      <div class="train_line">
        <%= "\t\t#{route[:line_name]}" %><br>

        <% @realtime_info.each_with_index do |info, flag|%>
          <% if info[:line_name]==route[:line_name] %>
            <%= info[:delay_info] %>
          <% end %>
        <% end %>
      </div>
  
      <div class="route_destination">
        <div class="train_destinationtime">
          <%= "#{route[:destination_time]} 到着" %>
        </div>

        <div class="destination">
          <%= "#{route[:destination]}" %>
        </div>
      </div>

    <%else%>

      <div class="route_departure">
        <div class="train_departuretime">
          <%= "#{route[:departure_time]} 出発" %>
        </div>

        <div class="train_departure">
          <%= "#{route[:departure]}" %>
        </div>
      </div>

      <%if idx==@route_result[:sections].length-1%>
        <div class="train_line">
          <%= "\t\t#{route[:line_name]}" %><br>

          <% @realtime_info.each_with_index do |info, flag| %>
            <% if info[:line_name]==route[:line_name] %>
              <%= info[:delay_info] %>
            <% end %>
          <% end %>
        </div>

        <div class="route_destination">
          <div class="train_destinationtime">
            <%= "#{route[:destination_time]} 到着" %>
          </div>

          <div class="destination">
            <%= "#{route[:destination]}" %>
          </div>
        </div>

      <%else%>
        <%if "#{route[:walk_flag]}"=="true"%>
          <div class="train_line">
            <%= "\t\t#{route[:line_name]} " %><br>
          </div>

          <div class="route_destination">
            <div class="train_destinationtime">
              <%= "#{route[:destination_time]} 到着" %>
            </div>

            <div class="destination">
              <%= "#{route[:destination]}" %>
            </div>
          </div>
          
        <%else%>       
          <div class="train_line">
            <%= "\t\t#{route[:line_name]} 乗換不要" %><br>
            <% @realtime_info.each_with_index do |info, flag|%>
              <%if info[:line_name]==route[:line_name]%>
                <%= info[:lineinfo]%>
              <%end%>
            <%end%>
          </div>
          
        <%end%>
      <%end%>
    <%end%>

  <% end %>
</div>