<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<button onclick="loop()">アラーム設定</button>
<div>
  <span id="_d">00</span>
  <span id="_h">00</span>
  <span id="_m">00</span>
  <span id="_s">00</span>
</div>

<%=audio_tag('bibi.mp3',id: "myaudio")%>
<input type="button" onclick="autoPlay()" id="self_click"value="再生" />
<input type="button" onclick="closePlay()" value="停止" />

<%# 経路検索結果の表示 %>
<div class="search_result">

  <div id="transit_count" >
    <% "#{@route_result[:transit_count]}" %>
  </div>

  <h1>検索結果</h1>
  <div class="train_index">
    <div class="departure_index">出発地</div>
      <%= "#{@route_result[:departure]}\n" %>
    
    <div class="arrow">→</div>

    <div class="destination_index">目的地</div>
      <%= "#{@route_result[:destination]}\n" %>

    <div class="transit_index">乗り換え回数</div>
      <%= "#{@route_result[:transit_count]}回\n" %>
  </div>

  <div class="train_date">
    <%= "#{@parameters[:bookmark][:time].strftime('%Y年%m月%d日')}"%>
  </div>


  <div class="register_btn">
    <% if user_signed_in? %>
      <%= render partial: "trains/bookmark_form" %>
      <%= link_to "カレンダーに登録する", register_without_bookmarks_path(params: @parameters), method: :post, class: "btn" %>
    <% end %>
  </div>
  
  <%# 経路検索結果の表示 %>
  <% @route_result[:sections].each_with_index do |route, idx| %>
    <div class="train_route">
      <%= "#{route[:departure]}\t#{route[:departure_time]}" %><br>
      <%= "↓\t\t#{route[:line_name]}" %><br>
      <%= "#{route[:destination]}\t#{route[:destination_time]}" %><br>

      
      <div id="dt_destination_time_<%=idx%>">
        <%"#{route[:dt_destination_time]}"%>
      </div>
      <br>
    </div>
  <% end %>
    
  <script language="javascript" type="text/javascript">

  function countTime(end,endtime) {
    //今の時間
    var date = new Date();
    var now = date.getTime();
    //时间差
    var leftTime = end-now;
    //到着や乗り換え時間の判断
    if(leftTime<=0){
      if(endtime.length>0){
        end= endtime.shift();
        countTime(end,endtime);
      }
      return false;
    }  
    // d,h,m,s時間の保存のための変数定義
    var d,h,m,s;
    if (leftTime>=0) {
      d = Math.floor(leftTime/1000/60/60/24);
      h = Math.floor(leftTime/1000/60/60%24);
      m = Math.floor(leftTime/1000/60%60);
      s = Math.floor(leftTime/1000%60);
    }
    //アラームの時間設定
    if(d==0&&h==0&&m==0&&s==59)
      setTimeout(botton_click(),1000);
      //divに入れる
      document.getElementById("_d").innerHTML = d+"日";
      document.getElementById("_h").innerHTML = h+"時間";
      document.getElementById("_m").innerHTML = m+"分";
      document.getElementById("_s").innerHTML = s+"秒";
      setTimeout(countTime,1000,end,endtime);
    }

    //音を鳴る
    function autoPlay() {
      var myAuto = document.getElementById('myaudio');
      myAuto.play();
    }

    //音を止まる
    function closePlay() {
      var myAuto = document.getElementById('myaudio');
      myAuto.pause();
      myAuto.load();
    }

    //自動にボタンを押す
    function botton_click(){
      var alert = document.getElementById('self_click');
      alert.click();
    }

    //到着や乗り換え時間取得
    function loop(){
      var endtime = new Array();
      for (i=0;i<=document.getElementById("transit_count").innerHTML;i++){
        str=document.getElementById("dt_destination_time_"+i).innerHTML;
        var endDate = moment(str, 'YYYY-MM-DDTHH:mm:ssZ');
        var end = Date.parse(endDate);
        endtime[i]=end;
      }
      end=endtime.shift();
      countTime(end,endtime);
    }
  </script>
</div>
