<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<button onclick="loop()">アラーム設定</button>
<div>
  <span id="_d">00</span>
  <span id="_h">00</span>
  <span id="_m">00</span>
  <span id="_s">00</span>
</div>

<%=audio_tag('bibi.mp3',id: "myaudio")%>
<input type="button" onclick="autoPlay()" id="self_click" value="再生" style="display:none"/>
<input type="button" onclick="closePlay()" value="停止" />

<%# 経路検索結果の表示 %>
<div class="search_result">

  <div id="transit_count" style="display:none" >
    <%="#{@route_result[:transit_count]}"%>
  </div>

  <h1>検索結果</h1>

  <div style="color: red;">
    <%= @failure_comment unless @failure_comment.empty? %>
  </div>
  
  <%= render partial: "trains/search_result"%>
  
  <% @route_result[:sections].each_with_index do |route, idx| %>
    <div class="train_route">
      <%# アラーム用の記述だと思われるもの %>
      <div id="dt_destination_time_<%=idx%>" style="display:none">
        <%="#{route[:dt_destination_time]}"%>
      </div>
      <br>
      <div id="index" style="display:none">
        <%=@route_result[:sections].length%>
      </div>
    </div>
    
  <% end %>
    

  <%# アラーム機能 %>
  <script language="javascript" type="text/javascript">

  function countTime(end,endtime) {
    //現在の時間
    // var date = new Date();
    var date =new Date(2020,11,4,12,00);

    var now = date.getTime();
    //时间差
    var leftTime = end-now;
    //到着や乗り換え時間の判断
    if(leftTime<=0){
      if(endtime.length>0){
        end= endtime.shift();
        countTime(end,endtime);
      }
      return false;
    }  
    // d,h,m,s時間の保存のための変数定義
    var d,h,m,s;
    if (leftTime>=0) {
      d = Math.floor(leftTime/1000/60/60/24);
      h = Math.floor(leftTime/1000/60/60%24);
      m = Math.floor(leftTime/1000/60%60);
      s = Math.floor(leftTime/1000%60);
    }
    //アラームの時間設定
    if(d==0&&h==0&&m==0&&s==59)
      setTimeout(botton_click(),1000);
      //divに入れる
      document.getElementById("_d").innerHTML = d+"日";
      document.getElementById("_h").innerHTML = h+"時間";
      document.getElementById("_m").innerHTML = m+"分";
      document.getElementById("_s").innerHTML = s+"秒";
      setTimeout(countTime,1000,end,endtime);
    }

    //音が鳴る
    function autoPlay() {
      var myAuto = document.getElementById('myaudio');
      myAuto.play();
    }

    //音を止める
    function closePlay() {
      var myAuto = document.getElementById('myaudio');
      myAuto.pause();
      myAuto.load();
    }

    //自動にボタンを押す
    function botton_click(){
      var alert = document.getElementById('self_click');
      alert.click();
    }

    //到着や乗り換え時間取得
    function loop(){
      var endtime = new Array();
      for (i=0;i<document.getElementById("index").innerHTML;i++){
        str=document.getElementById("dt_destination_time_"+i).innerHTML;
        var endDate = moment(str, 'YYYY-MM-DDTHH:mm:ssZ');
        var end = Date.parse(endDate);
        endtime[i]=end;
      }
      if(document.getElementById("transit_count")==0){
        end=endtime.pop();
        endtime.length=0;
        countTime(end,endtime);
      }else{
      end=endtime.shift();
      countTime(end,endtime);
      }
    }
  </script>
</div>
