
<%# 経路検索結果の表示 %>
<div class="search_result">
  
  <div>
    <%= "出発地: #{@route_result[:departure]}\n" %>
    <%= "目的地: #{@route_result[:destination]}\n" %>
    <%= "乗り換え回数: #{@route_result[:transit_count]}\n" %>
  </div>
  <h2>検索結果</h2>
  <% @route_result[:sections].each do |route| %>
    <div>
      <%= "#{route[:departure]}\t#{route[:departure_time]}" %><br>
      <%= "↓\t\t#{route[:line_name]}" %><br>
      <%= "#{route[:destination]}\t#{route[:destination_time]}" %><br>
      <br>
    </div>
  <% end %>

</div>