

<div class="mypage">

  <div class="mypage_title">
    <h1>マイページ</h1>
  </div>

  <div class="user_name">
    <%= "Nickname:  #{current_user.nickname}" %>
    <%= "Email:  #{current_user.email}" %>
  </div>

  <div class="user_btn">
    <%= link_to "編集する", edit_user_path(current_user.id), class: 'btn'%>
    <%= link_to "削除する", user_path(current_user.id), method: :delete, class: 'btn'%>
  </div>

  <div class="simple-calendar-parent">

    <%= month_calendar do |date| %>

      <%= "#{date.day}日" %><br>
      
      <%# カレンダーに表示する予定の取得 %>
      <% calendar = Calendar.find_by(date: date, user_id: current_user.id) %>
      <% unless calendar.nil? %>
        <% bookmark_calendars = BookmarkCalendar.where(calendar_id: calendar.id) %>
        <% bookmark_calendars.each do |schedule| %>
          
          <%# trains/searchに引き渡すパラメータの作成 %>
          <% parameters = {
            departure: schedule.bookmark.departure,
            destination: schedule.bookmark.destination,
            datetime: "#{schedule.calendar.date.to_s}T#{schedule.bookmark.time}",
            departure_flag: schedule.bookmark.departure_flag 
          } %>
          <%= link_to schedule.bookmark.name, search_trains_path(params: parameters), class: 'btn' %>
          
          <%# modal-contentへのrender %>
          <%#= render template: "layouts/modal_template", locals: {schedule: schedule} %>

          <%# modal-openボタンに反応してmodal-contentがJSにより起動する %>
          <!-- <button id="modal-open" class="modal_btn"><%= schedule.bookmark.name %></button> -->

        <% end %>

      <% end %>

    <% end %>

  </div>

</div>