<div class="mypage">

  <div class="mypage_title">
    <h1>マイページ</h1>
  </div>

  <div class="user_name">
    <div>Nickname:   <%= current_user.nickname %></div>
    <div>Email:   <%= current_user.email %></div>
  </div>

  <div class="user_btn">
    <%= link_to "編集する", edit_user_path(current_user.id), class: 'btn'%>
    <%= link_to "削除する", user_path(current_user.id), method: :delete, class: 'btn'%>
  </div>

  <div class="simple-calendar-parent">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>

</div>