
<!-- モーダルウィンドウ -->
<div id="modal-content">
  <!-- モーダルウィンドウのコンテンツ開始 -->
  <div class="modal_header">
    <h2>Slack連携ヘルプ</h2>
    <button id = "modal-close" class="close_btn">&times;</button>
  </div>

  <article class="cp_content">

    <%# <div class="slack_help_popup">
      <div class="slack_explanation">
        <span class="slack_title">AutoAlarmワークスペースへの参加</span><br>
        <%= image_tag("/assets/slack_link.png", width: "60", alt: "Slack招待リンク", style: "background-color: yellow") %>
        <%# をクリックとSlackのAutoAlarmワークスペースに参加できます。<br> %>
        <%# Slackアカウントを所持していない人は新規登録をしてください。 %>
      <%# </div> %>
    <%# </div> %> 

    <div class="slack_help_popup">
      <div class="slack_display">
        <%= image_tag("/assets/slack_link.png", width: "100", alt: "Slack招待リンク") %>
      </div>
      <div class="slack_explanation">
        <span class="icon_title">Slack招待リンクボタン</span><br>
        ボタンを押すとSlackのAutoAlarmワークスペースに参加できます。<br>
         Slackアカウントを所持していない人は新規登録をしてください。
      </div>
    </div>
    
    <div class="slack_help_popup">
      <div class="slack_display">
        <span class="slack_title">AutoAlarmのメンバーID</span><br>
      </div>
      <div class="slack_explanation">
        <span class="icon_title">ID取得方法</span><br>
        1.  AutoAlarmワークスペースを開き右上の名前のアイコンをクリックします。<br>
        <%= image_tag("/assets/slack1.png", width: "300", alt: "その他") %><br>
        <br>2.  「プロフィールを表示する」を選択してください。<br>
        <%= image_tag("/assets/slack2.png", width: "300", alt: "その他") %><br>
        <br>3.  右側のその他をクリックします。<br>
        <%= image_tag("/assets/slack3.png", width: "300", alt: "その他") %><br>
        <br>4.  メンバーIDをコピーして貼り付けてください。<br>
        <%= image_tag("/assets/slack4.png", width: "300", alt: "その他") %>
      </div>
    </div>
  
  </article>
<!-- モーダルウィンドウのコンテンツ終了 -->
</div>

<%= link_to "連携ヘルプ", "javascript:void(0)", id: "modal-open", class: "modal_btn"%>
