<!DOCTYPE html>

<html>

  <head>

    <title>Autoalarm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


  </head>

  <body>

    <header class="header">
      <div class="nav">
        <div class="nav__left">
          <%= link_to "経路検索アプリ", root_path, class: :nav__logo %>
        </div>

        <%# ログインしているときは以下を表示するようにしましょう %>
        <% if user_signed_in? %>

          <div class="nav__right">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__btn %>
            <%= link_to "マイページ", user_path(current_user.id), class: :nav__btn %>
            <%= link_to "ブックマーク", bookmarks_path, class: :nav__btn %>
          </div> 
        
        <%# ログインしていないときは以下を表示するようにしましょう %>
        <% else %>

          <div class="nav__right">
            <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
            <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
          </div>

        <% end %>
      
      </div>
    </header>

    <%= yield %>

  </body>

</html>

